* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  flex: 1;
  flex-direction: column;
}

/*============
header styling
===============*/

.header {
  background: black;
  display: flex;
  color: white;
  padding: 13px 30px;
  align-items: center;
  justify-content: space-between;
}

/* =========
header logo
=========== */
.header-logo{
  font-weight: bold;
  cursor: pointer;
}

.header-logo span{
  font-size: 22px;
}

.link a{
  text-decoration: none;
  color: white;
}